        body{
            background: black;
        }
        #mainContainer{
            margin-top: 60px;
            color: black;
        }
        #lamp{
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 30px;
        }
        #switcher{
            margin-top: 15%;
        }
        #light{
            display:none;
            max-width: 90%;
            max-height: 90%;
            
        }
        .bgImgCenter{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('light.png');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: contain, cover;
            
        }